
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  main {
    flex: 1;
    background-color: #f4f6f8; /* CINZA CLARO */
    padding: 2rem 1rem;
    margin-top: 130px; /* espaço pro header fixo */
    margin-bottom: 30px; /* espaço pro footer */
    width: 100%;
   
  }
  
  main > * {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
	  }

  
  footer {
    background-color: #198754;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .nav-link {
    transition: background-color 0.2s, color 0.2s;
  }

  .nav-link:hover {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 4px;
  }


