header {
    width: 100%;
    padding: 28px;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
 
}


#imagemLogo{
    height: 10%;
}

#nav_logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
    
}

#nav_logo .verde {
  color:  #198754; 
  font-size: 30px;
}



#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding-right: 15%;
    font-size: 15px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#btn_mobile {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default,
    .btn-acesso-container {
        display: none;
    }

    #btn_mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}